sampleapp/TAMCAPPreg/ViewController/com.tamcapp.mobilebook.reg.mobile/TamcappAmService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="TamcappAmService" targetNamespace="/com/blogspot/lucbors/server/adf/push/model/srv/common/" xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/" xmlns:tns="/com/blogspot/lucbors/server/adf/push/model/srv/common/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:types="/com/blogspot/lucbors/server/adf/push/model/srv/common/types/">
  <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="ServiceException.wsdl"/>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="/com/blogspot/lucbors/server/adf/push/model/srv/common/types/"
              schemaLocation="TamcappAmService.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="TamcappAmService_getTamcappUsers">
    <wsdl:part name="parameters" element="types:getTamcappUsers"/>
  </wsdl:message>
  <wsdl:message name="TamcappAmService_getTamcappUsersResponse">
    <wsdl:part name="parameters" element="types:getTamcappUsersResponse"/>
  </wsdl:message>
  <wsdl:message name="TamcappAmService_createTamcappUsers">
    <wsdl:part name="parameters" element="types:createTamcappUsers"/>
  </wsdl:message>
  <wsdl:message name="TamcappAmService_createTamcappUsersResponse">
    <wsdl:part name="parameters" element="types:createTamcappUsersResponse"/>
  </wsdl:message>
  <wsdl:message name="TamcappAmService_getTamcappUsersByDevice">
    <wsdl:part name="parameters" element="types:getTamcappUsersByDevice"/>
  </wsdl:message>
  <wsdl:message name="TamcappAmService_getTamcappUsersByDeviceResponse">
    <wsdl:part name="parameters" element="types:getTamcappUsersByDeviceResponse"/>
  </wsdl:message>
  <wsdl:portType name="TamcappAmService">
    <wsdl:documentation>
      <ViewInstance xmlns="http://xmlns.oracle.com/adf/svc/metadata/" Name="TamcappUsers" xmlns:ns0="/com/blogspot/lucbors/server/adf/push/model/vo/common/" SDOName="ns0:GcmSubscribersSDO" CreateOpName="createTamcappUsers" GetOpName="getTamcappUsers"/>
    </wsdl:documentation>
    <wsdl:operation name="getTamcappUsers">
      <wsdl:input message="tns:TamcappAmService_getTamcappUsers"/>
      <wsdl:output message="tns:TamcappAmService_getTamcappUsersResponse"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="createTamcappUsers">
      <wsdl:input message="tns:TamcappAmService_createTamcappUsers"/>
      <wsdl:output message="tns:TamcappAmService_createTamcappUsersResponse"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="getTamcappUsersByDevice">
      <wsdl:input message="tns:TamcappAmService_getTamcappUsersByDevice"/>
      <wsdl:output message="tns:TamcappAmService_getTamcappUsersByDeviceResponse"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TamcappAmServiceSoapHttp" type="tns:TamcappAmService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getTamcappUsers">
      <soap:operation soapAction="/com/blogspot/lucbors/server/adf/push/model/srv/common/getTamcappUsers"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createTamcappUsers">
      <soap:operation soapAction="/com/blogspot/lucbors/server/adf/push/model/srv/common/createTamcappUsers"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTamcappUsersByDevice">
      <soap:operation soapAction="/com/blogspot/lucbors/server/adf/push/model/srv/common/getTamcappUsersByDevice"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TamcappAmService">
    <wsdl:port name="TamcappAmServiceSoapHttpPort" binding="tns:TamcappAmServiceSoapHttp">
      <soap:address location="http://localhost:7101/TAMCAPPreg-ViewController-context-root/TamcappWsRegDcService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>