sampleapp/TAMCAPPreg/ViewController/com.tamcapp.mobilebook.reg.mobile/TamcappAmService.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema elementFormDefault="qualified" targetNamespace="/com/blogspot/lucbors/server/adf/push/model/srv/common/types/" xmlns:ns0="/com/blogspot/lucbors/server/adf/push/model/vo/common/" xmlns:ns1="http://xmlns.oracle.com/adf/svc/types/" xmlns:tns="/com/blogspot/lucbors/server/adf/push/model/srv/common/types/" xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
  <import namespace="/com/blogspot/lucbors/server/adf/push/model/vo/common/" schemaLocation="GcmSubscribersSDO.xsd"/>
  <element name="getTamcappUsers">
    <complexType>
      <sequence>
        <element name="username" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="getTamcappUsersResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:GcmSubscribersSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="createTamcappUsers">
    <complexType>
      <sequence>
        <element name="tamcappUsers" type="ns0:GcmSubscribersSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="createTamcappUsersResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:GcmSubscribersSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="getTamcappUsersByDevice">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria"/>
        <element name="b_device" type="string"/>
        <element name="findControl" type="ns1:FindControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="getTamcappUsersByDeviceResponse">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:GcmSubscribersSDO"/>
      </sequence>
    </complexType>
  </element>
</schema>