sampleapp/TAMCAPPatt/ViewController/com.tamcapp.mobilebook.att.mobile/ImageServicePort1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:tns="http://service.img.backend.mobile.tamcapp.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.img.backend.mobile.tamcapp.com/">
  <xs:element name="saveImage" type="tns:saveImage"/>
  <xs:complexType name="saveImage">
    <xs:sequence>
      <xs:element name="arg0" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
      <xs:element name="arg2" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>